.ocultar {
    display: none;
}

.dark {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    color: white;
}

.dark .logo-container{
    background-color: hsl(226, 25%, 17%);
}

.btn-sun{
    background-color: hsl(225, 23%, 24%);
}

.btn-sun:hover{
    background-color: hsl(226, 11%, 37%);
}

.dark .boton{
    background-color:hsl(225, 23%, 24%) ;
    color: hsl(200, 60%, 99%);
    border: 1px solid hsl(226, 11%, 37%);
}

.dark .catalogo-item{
    background-color: hsl(226, 25%, 17%);
    border: 1px solid hsl(226, 11%, 37%);
}

.dark .container-borrar button{
    background-color:hsl(225, 23%, 24%) ;
    color: hsl(200, 60%, 99%);
    border: 1px solid hsl(226, 11%, 37%);
}

.dark .container-borrar button:hover{
    background-color:hsl(3, 77%, 44%);
    color: hsl(227, 75%, 14%);
}


body {
    background-color: white;
    color: hsl(227, 75%, 14%);
    font-family: "Noto Sans", sans-serif;
}

.container-image{
    display: flex;
}

.container-image img{
    margin-right: 15px;
}

.container-borrar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.container-borrar button{

    color: #333;
    border: 1px solid hsla(226, 15%, 61%, 0.637);
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
    font-family: "Noto Sans", sans-serif;
}

.container-borrar button:focus{
    border: 2px solid hsl(3, 77%, 44%);
}

.container-borrar button:hover{
    background-color:  hsl(3, 77%, 44%);
    color: hsl(200, 60%, 99%);
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    margin: 10px 50px 20px 50px;
}

.catalogo-item {
    background: white;
    padding: 1rem;
    border-radius: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.219);
    gap: 0.5rem;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container button {
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.botones-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
}

.botones-container h2{
    margin-bottom: 0;
}


.boton {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
    font-family: "Noto Sans", sans-serif;
}

.boton:hover{
    background-color: hsl(3, 77%, 44%);
    color: white;
}

.boton.activo {
    background-color: hsl(3, 77%, 44%);
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #1e1e2f;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #ff4b5c;
    /* Color círculo inactivo */
    border-radius: 50%;
    transition: transform 0.3s, background-color 0.3s;
}

/* Checked State */
input:checked+.slider {
    background-color: #1e1e2f;
}

input:checked+.slider:before {
    transform: translateX(20px);
    background-color: #20e3b2;
    /* Color círculo activo */
}